header {
  background: $color-titulo;
  color: $color-fondo;
  text-align: center;
  padding: 2rem;

  h1 {
    font-family: $fuente-principal;
    color: $color-fondo;
  }

  .logo {
    max-width: 180px;
    border-radius: 6px;

    @include responsive(mobile) {
      max-width: 120px;
    }
  }
}
